<!-- Add input which updates a property 'username' via two-way-binding -->
<!-- Output the username property via string interpolation (in a p below input) -->
<!-- Add a button which may only be clicked if the username in NOT an empty string -->
<!-- Upon clicking the button, the username should be reset to an empty string -->

<h2>Exercise 4</h2>
<label>Insert Your Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{ username }}</p>
<button class="btn btn-primary"
[disabled]="username === ''"
(click)="wipeUsername()">Reset Username</button>


